.postContainier {
    width: 100%;
    height: 85vh;
    /*     border: 3px solid rgba($color: gray, $alpha: 0.3); */
    margin: auto;
    border-radius: 10px;
    max-height: 90vh;
}

.postWrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: 30px 1fr 3fr 50px 50px;
}

.maneFoto {
    width: 100%;
    height: 100%;
    margin: auto;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 6;
    background-color: black;
    display: flex;
    align-items: center;

    &>img {
        display: block;
    }

    background-image: none !important;
}

.maneFoto img {
    max-height: 85vh;
    width: 100%;
    object-fit: contain;
}

.buttonBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;

    & img {
        cursor: pointer;
    }
}

.buttonBox img {
    width: 25px;
}

.groupBtn {
    display: flex;
    justify-content: space-around;
    width: 70px;
}

.description {
    margin: 20px;
    padding: 10px;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top: 1px solid rgba($color: gray, $alpha: 0.3);
}

.comments {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 10px;
    font-weight: 400;

    &>ul {
        text-decoration: none;
        list-style: none;
    }

    & span {
        font-weight: 700;
    }

    grid-row-start: 3;
    grid-row-end: 4;
    margin: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.comments li {
    width: 100%;
}

.showMoreBtn {
    border: none;
    background-color: white;
    cursor: pointer;
    padding: 20px;
    align-self: center;

}

.addComment {
    border-top: 1px solid rgba($color: gray, $alpha: 0.1);
    width: 100%;
    grid-row-start: 5;
    grid-row-end: 6;
    justify-self: center;
}