.list {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    text-align: center;
}

.listItem {
    list-style-type: none;
}

.post {
    position: relative;
    background-color: #fff;
    width: 293px;
    height: 293px;

    &:hover .postHoverBG {
        display: block;
    }

}

.image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.postHoverBG {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.postHover {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.counterWrraper {
    display: flex;
    gap: 3px;
    align-items: center;
}

.counter {
    color: #fff;
    font-size: 15px;
}